<h5 class="tab">Terms of Service</h5>
<p>Copyright &copy; 2012, Aleksandr Melentiev, All rights reserved.</p>
<p>Permission to use, copy, modify, and distribute this software for any purpose with or without fee is hereby granted,
provided that the above copyright notice and this permission notice appear in all copies.</p>
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF THIRD PARTY RIGHTS. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
<p>Except as contained in this notice, the name of a copyright holder shall not be used in advertising or otherwise to promote the sale,
use or other dealings in this Software without prior written authorization of the copyright holder.</p>
<p>Although most changes are likely to be minor, changes to Terms of Service and/or Privacy Policy (below) may occur from time to time.
Users are encouraged to frequently check this page for any changes to its Terms of Service and/or Privacy Policy.
Your continued use of this application after any change in Terms of Service and/or Privacy Policy will constitute your acceptance of such change. 

<p>&nbsp;</p>

<h5 class="tab">Privacy Policy</h5>
<p>This application may collect information that is available via Facebook Graph API (given you have accepted the permissions).
Information collected and stored will only be used strictly for use of this application's functionality. No information will be sold
or shared under any circumstances.</p>

